<header class="header">
  <div class="container header__container">
    <a href="#" class="logo"><img src="./img/logo.svg" alt="createx header logo"></a>
    <nav class="header__nav">
      <ul class="nav__list">
        <li class="nav__item"><a href="#" class="nav__link">About Us</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Services</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Work</a></li>
        <li class="nav__item"><a href="#" class="nav__link">News</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Contacts</a></li>
      </ul>
    </nav>
    <div class="header-contacts">
      <address class="contact-item contact-item--phone">
        <span>Call us</span><br>
        <a href="tel:4055550128">(405) 555-0128</a>
      </address>
      <address class="contact-item contact-item--mail">
        <span>Talk to us</span><br>
        <a href="mailto:hello@createx.com">hello@createx.com</a>
      </address>
    </div>
  </div>
</header>
