<section class="partners">
  <div class="container">
    <h3 class="partners__title title-h3">Supported by 12+ partners</h3>
    <div class="partners__logo">
      <ul class="logo-list list-reset">
        <li class="logo-list__item">
          <img src="img/partner-logo-1.png" alt="InDepth consulting">
        </li>
        <li class="logo-list__item">
          <img src="img/partner-logo-2.png" alt="higher fit">
        </li>
        <li class="logo-list__item">
          <img src="img/partner-logo-3.png" alt="sentinal consulting">
        </li>
        <li class="logo-list__item">
          <img src="img/partner-logo-4.png" alt="happy home">
        </li>
        <li class="logo-list__item">
          <img src="img/partner-logo-5.png" alt="orSale">
        </li>
        <li class="logo-list__item">
          <img src="img/partner-logo-6.png" alt="sunset realty">
        </li>
      </ul>
    </div>

    <div class="partners__review">
      <div class="partners-review__content">
        <h3 class="partners-review__title title-h3">What our clients are saying</h3>

        <div class="swiper partners-review__slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="partners-slider__content">
                <img src="img/partners-profile-img.jpg" alt="profile photo" class="partners-slider__photo">
                <div class="partners-slider__review">Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum
                  eiusmod
                  enim. Consectetur magna cillum consequat minim laboris cillum laboris voluptate minim proident
                  exercitation ullamco. </div>
                <div class="partners-slider__name">Shawn Edwards</div>
                <div class="partners-slider__posititon">Position, Company name</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="partners-slider__content">
                <img src="img/partners-profile-img.jpg" alt="profile photo" class="partners-slider__photo">
                <div class="partners-slider__review">Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum
                  eiusmod
                  enim. Consectetur magna cillum consequat minim laboris cillum laboris voluptate minim proident
                  exercitation ullamco. </div>
                <div class="partners-slider__name">Shawn Edwards</div>
                <div class="partners-slider__posititon">Position, Company name</div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="partners-slider__content">
                <img src="img/partners-profile-img.jpg" alt="profile photo" class="partners-slider__photo">
                <div class="partners-slider__review">Ipsum aute sunt aliquip aute et occaecat. Anim minim do cillum
                  eiusmod
                  enim. Consectetur magna cillum consequat minim laboris cillum laboris voluptate minim proident
                  exercitation ullamco. </div>
                <div class="partners-slider__name">Shawn Edwards</div>
                <div class="partners-slider__posititon">Position, Company name</div>
              </div>
            </div>
          </div>
        </div>

        <div class="slider-nav">
          <button class="btn-reset partners__prev slider-nav__btn slider-btn">
            <svg>
              <use xlink:href="img/sprite.svg#prev-btn"></use>
            </svg>
          </button>
          <button class="btn-reset partners__next slider-nav__btn slider-btn">
            <svg>
              <use xlink:href="img/sprite.svg#next-btn"></use>
            </svg>
          </button>
        </div>

      </div>
      <div class="partners-review__img">
        <img src="img/partners-review-img.jpg" alt="partner handshake">
      </div>
    </div>
  </div>
</section>
