<section class="portfolio">
  <div class="container">
    <h3 class="portfolio__title title-h3">Browse our selected projects
      and learn more about our work</h3>
    <div class="slider-nav">
      <button class="btn-reset portfolio__prev slider-nav__btn slider-btn">
        <svg>
          <use xlink:href="img/sprite.svg#prev-btn"></use>
        </svg>
      </button>
      <button class="btn-reset portfolio__next slider-nav__btn slider-btn">
        <svg>
          <use xlink:href="img/sprite.svg#next-btn"></use>
        </svg>
      </button>
    </div>


    <div class="swiper portfolio-section__items">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="portfolio-section__card">
            <img src="img/portfolio-card-img-1.jpg" alt="Red Finger Building" class="card__img">
            <div class="card__content">
              <div class="card__title">Red Finger Building</div>
              <div class="card__descr">Business Centers</div>
              <a href="#" class="card__btn btn-reset btn">View Project</a>
            </div>
          </div>
        </div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
      </div>
    </div>

    <!-- SECTION-TRANSITION -->
    <div class="section-transition">
      <div class="section-transition-text">Explore all our works</div>
      <a href="#" class="section-transition-btn btn-reset btn">View portfolio</a>
    </div>
    <!-- SECTION-TRANSITION -->

  </div>
</section>
