<form action="#" class="question-form container">
  <div class="question-form__inner">
    <h3 class="question-form__title">Want to know more? Ask us a question:</h3>
    <div class="question-form__content">
      <label class="question-form__field form-field">
        <span class="form-field__caption">Name</span>
        <input class="form-field__input" type="text" placeholder="Your Name">
      </label>
      <label class="question-form__field form-field">
        <span class="form-field__caption">Phone</span>
        <input class="form-field__input" type="tell" placeholder="Your phone">
      </label>
      <label class="question-form__field form-field form-field--message">
        <span class="form-field__caption">Message</span>
        <input class="form-field__input " type="text" placeholder="Your message">
      </label>
      <button class="form-field__btn btn btn-reset" type="submit">send</button>
    </div>
  </div>
</form>
