<section class="services">
  <div class="container services__container">
    <h3 class="services__title title-h3">Our services</h3>
    <p class="services__text">Createx Construction Bureau is a construction giant with a full range of construction
      services.</p>
    <div class="services__wrapper">
      <div class="services__item">
        <div class="services-item__content">
          <div class="services-item__img">
            <svg>
              <use xlink:href="img/sprite.svg#construction"></use>
            </svg>
          </div>
          <div class="services-item__title">Construction</div>
        </div>
      </div>
      <div class="services__item">
        <div class="services-item__content">
          <div class="services-item__img">
            <svg>
              <use xlink:href="img/sprite.svg#project-development"></use>
            </svg>
          </div>
          <div class="services-item__title">Project development</div>
        </div>
      </div>
      <div class="services__item">
        <div class="services-item__content">
          <div class="services-item__img">
            <svg>
              <use xlink:href="img/sprite.svg#interior-design"></use>
            </svg>
          </div>
          <div class="services-item__title">Interior design</div>
        </div>
      </div>
      <div class="services__item">
        <div class="services-item__content">
          <div class="services-item__img">
            <svg>
              <use xlink:href="img/sprite.svg#repairs"></use>
            </svg>
          </div>
          <div class="services-item__title">Repairs</div>
        </div>
      </div>
    </div>

    <!-- SECTION-TRANSITION -->
    <div class="section-transition">
      <div class="section-transition-text">Learn more about our services</div>
      <a href="#" class="section-transition-btn btn-reset btn">View services</a>
    </div>
    <!-- SECTION-TRANSITION -->

  </div>
</section>
