<section class="services">
  <div class="container services__container">
    <h3 class="services__title title-h3">Our services</h3>
    <p class="services__text">Createx Construction Bureau is a construction giant with a full range of construction
      services.</p>
    <div class="services__wrapper">
      <div class="services__item">
        <div class="services-item__img">
          <svg>
            <use xlink:href="img/sprite.svg#construction"></use>
          </svg>
        </div>
        <div class="services-item__title">Construction</div>
      </div>
      <div class="services__item">
        <div class="services-item__img">
          <svg>
            <use xlink:href="img/sprite.svg#construction"></use>
          </svg>
        </div>
        <div class="services-item__title">Construction</div>
      </div>
      <div class="services__item">
        <div class="services-item__img">
          <svg>
            <use xlink:href="img/sprite.svg#construction"></use>
          </svg>
        </div>
        <div class="services-item__title">Construction</div>
      </div>
      <div class="services__item">
        <div class="services-item__img">
          <svg>
            <use xlink:href="img/sprite.svg#construction"></use>
          </svg>
        </div>
        <div class="services-item__title">Construction</div>
      </div>
    </div>
  </div>
</section>
