<section class="values">
  <div class="container values__container">
    <h3 class="values__title title-h3">Our core values</h3>
    <p class="values__text">Our mission is to set the highest standards for construction sphere.</p>
    <div class="value-boxes">
      <div class="values-boxes__item">
        <svg>
          <use xlink:href="img/sprite.svg#quality"></use>
        </svg>
        <h6 class="value-boxes__title">Quality</h6>
        <p class="value-boxes__text">Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud
          aliquip sunt.</p>
      </div>
      <div class="values-boxes__item">
        <svg>
          <use xlink:href="img/sprite.svg#safety"></use>
        </svg>
        <h6 class="value-boxes__title">Safety</h6>
        <p class="value-boxes__text">Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing.
          Minim empor est ea.</p>
      </div>
      <div class="values-boxes__item">
        <svg>
          <use xlink:href="img/sprite.svg#comfort"></use>
        </svg>
        <h6 class="value-boxes__title">Comfort</h6>
        <p class="value-boxes__text">Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco
          proident ea ad.</p>
      </div>
    </div>
  </div>
</section>
