<section class="video">
  <div class="container video__container">
    <h3 class="video__title title-h3">We are Createx Construction Bureau </h3>
    <p class="video__text">We are rightfully considered to be the best construction company in the USA.</p>
    <div class="video-wrapper">
      <button class="video__play btn-reset" aria-label="play-video">
        <svg>
          <use xlink:href="img/sprite.svg#video-play"></use>
        </svg>
      </button>
      <video class="video__content" src="section-video-main.mp4"></video>
      <button class="video__muted btn-reset" aria-label="muted video">
        <svg>
          <use xlink:href="img/sprite.svg#video-muted"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
