html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden; // если используете на сайте position: sticky - уберите эту настройку
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.btn {
  line-height: 44px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 4px;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-weight: 700;
}
.title-h3 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  color: var(--color-gray900);
}
.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1260px;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
