// colors
:root {
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #ff5a30;
  --color-gray900: #1e212c;
  --color-gray800: #424551;
  --color-gray700: #787a80;
  --color-gray600: #9a9ca5;
  --color-gray500: #b3b7bc;
  --color-gray400: #d7dadd;
  --color-gray300: #e5e8ed;
  --color-gray200: #f4f5f7;
  --color-gray100: #f9f9f9;
}
